{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ include('governor:usa_search', {
  attributes,
  variant: 'small',
  label: element.keys['#title'],
  name: element.keys['#name'],
}, with_context = false) }}
