{% set accordion_id = random() %}
{# Expand/Collapse All #}
{% if control_button %}
<div class="operations-group collapsed">
  <a href="" target="blank" class="usa-link expand-link" data-controls="{{ accordion_id }}">{{ 'Expand All' | t }}</a>
  <a href="" target="blank" class="usa-link collapse-link" data-controls="{{ accordion_id }}">{{ 'Collapse All' | t }}</a>
</div>
{% endif %}
{# Multiselect #}
{% if multiselect %}
  {% set attributes = attributes.addClass('usa-accordion--multiselectable').setAttribute('data-allow-multiple', multiselect) %}
{% endif %}
{# Accordion #}
<div{{ attributes.addClass('usa-accordion').setAttribute('id', accordion_id) }}>
  {{ accordion_items }}
</div>
