{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{{ include('governor:usa_breadcrumb', { items: breadcrumb }, with_context = false) }}
