{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{{ include('governor:usa_header_navbar', {
  attributes,
  title_suffix,
  site_name,
  site_slogan,
  site_logo_url: site_logo,
}, with_context = false) }}
