{#
/**
 * @file
 * Default theme implementation to display an example Gutenberg block server-side.
 *
 * Available variables:
 * - block_name: The Gutenberg block name.
 * - block_content: The content of this block.
 * - block_attributes: The attributes of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *
 * @see template_preprocess_gutenberg_block()
 * @see template_preprocess_gutenberg_block__gutenberg_uswds__accordion()
 *
 * @ingroup themeable
 */
#}
{% embed 'governor:usa_accordion' with {
  attributes,
  title_suffix,
  classes: '',
  multiselect: (block_attributes.multiselect) ? true : false,
  control_button: (block_attributes.controlButton) ? true : false,
  accordion_items: block_content,
} only %}
  {% block accordion_items %}
    {{ accordion_items }}
  {% endblock %}
{% endembed %}
