@use "../global/mixins" as *;

// Extends the color (defaults to blue) horizontally across the entire viewport.
.full-width-color {
  --full-width-color: var(--surface-action-1);

  @include full-width(var(--full-width-color));
}

// Extends the color gray horizontally across the entire viewport.
.full-width-color--gray {
  --full-width-color: var(--surface-secondary);

  @include full-width(var(--full-width-color));
}

// Extends the color gray horizontally across the entire viewport, but only
// through the top half of the element..
.full-width-color--half {
  --full-width-color: var(--surface-action-1);

  position: relative;
  box-shadow: none;

  &:before {
    @include full-width(var(--full-width-color));
    position: absolute;
    inset: 0;
    width: 100%;
    height: 50%;
    content: "";
  }
}
