{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  {% embed 'governor:usa_header' with {
    extended: true,
    attributes,
    branding: page.header.governor_site_branding,
    main_menu: page.header.governor_main_menu,
    secondary_menu: page.header.my_new_theme_account_menu,
    search_box: page.header.my_new_theme_search_form,
  } only %}
    {% block branding %}
      {{ branding }}
    {% endblock %}
    {% block main_menu %}
      {{ main_menu }}
    {% endblock %}
    {% block secondary_menu %}
      {{ secondary_menu }}
    {% endblock %}
    {% block search_box %}
      {{ search_box }}
    {% endblock %}
  {% endembed %}

  <div class="container">
    {{ page.highlighted }}
    {{ page.help }}
    {{ page.breadcrumb }}
  </div>

  <main role="main" class="container">
    <div class="grid-row">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      {% if page.sidebar %}
        <aside class="layout-sidebar-first grid-col-3" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}

      <div class="layout-content grid-col-fill">
        {{ page.content }}
      </div>

    </div>
  </main>

  {% embed 'governor:usa_footer' with {
    attributes,
    footer_primary: page.footer_primary,
    footer_secondary: page.footer_secondary,
    logo: {
      path: '/' ~ directory ~ '/dist/uswds/img/logo-img.png',
      alt: 'logo',
      width: 48,
      height: 48,
    },
    org_name: 'Agency name',
    phone: '(800) 354-2337',
    email: 'info@agency.gov',
  } only %}
    {% block footer_primary %}
      {{ footer_primary }}
    {% endblock %}
    {% block footer_secondary %}
      {{ footer_secondary }}
    {% endblock %}
  {% endembed %}

</div>{# /.layout-container #}
