.container {
  max-width:var(--site-max-width);
  margin-inline: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.spacing:where(:not(:last-child)) {
  margin-bottom: var(--spacing-component);
}

.spacing-inside {
  > * {
    margin-bottom: var(--spacing-component);
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);

  @media (min-width: 750px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid--tight {
  gap: 0;
}
